.container {
    overflow: hidden;
}

.left {
    height: inherit;
    background-color: #fff;
    position: relative;
    float: left;
}

.right {
    height: inherit;
    padding: 16px;
    background-color: #eee;
    box-sizing: border-box;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    left: 0;
    padding: 16px;
    /*overflow-x: hidden;*/
}

.resize-bar {
    width: 400px;
    height: inherit;
    resize: horizontal;
    opacity: 0;
    overflow: scroll;
}
.resize-bar:hover ~ .resize-line,
.resize-bar:active ~ .resize-line {
    border-left: 1px dashed skyblue;
}

.resize-bar::-webkit-scrollbar {
    width: 400px;
    height: inherit;
}
/* 拖拽线 */
.resize-line {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 2px solid #eee;
    border-left: 1px solid #bbb;
    pointer-events: none;
}


